# Raw and derived data
/data/raw_s3/
/data/datasets/
/data/reports/
/data/cache/
/data/output/

# Models (too large for GitHub)
/models/

# Python cache
__pycache__/
*.pyc

# Local env
.env

# OS
.DS_Store

# Temporary files
~$*
